<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/main.css" type="text/css" />
		<title>I scream for Ice Cream!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/ic.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
